<!DOCTYPE html>
<html>

<head>
    <title>查询</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/common.css">

</head>

<body class='my-bg'>
    <!-- Navbar from bootstrap docs -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav-flow">
        <a href="index.html" class='nav-logo'><img class='nav-logo' src="./images/logo/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/input">录入</a>
                <a class="nav-item nav-link active" href="/find">查询</a>
                <a class="nav-item nav-link" href="/stats">统计</a>
                <!-- <a class="nav-item nav-link" href="/invitation">Invitation</a> -->

            </div>
            <a class="nav-item nav-link" id='logout' href="/users/logout">登出</a>
        </div>
    </nav>

    <div class="vertical-center pt-5 mt-5">
        <div class="h-100 row align-items-center justify-content-center" id="imp">
            <div class="text-center shadow-lg p-5 mb-5 bg-white rounded col-lg-10 d-flex flex-column"
                id='invitation-list'>
                {{#each c}}
                <br>
                <form id="${data._id}" class="message rounded bg-light p-3 shadow-sm"
                    action="/profile/${data.sender_id}" method="get">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{this.name}}{{this.contact}}">详细信息</button>
                    <div id="{{this.name}}{{this.contact}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <p>{{this.name}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <span class="m-5">姓名：{{this.name}} 联系方式：{{this.contact}}</span>
                    {{!-- <a id="accept" class="btn btn-primary m-2 text-white" onclick="submitForm('${data._id}','accept', '${data.sender_id}', '${data.receiver_id}')">Accept</a>
            <a id='decline' class="btn btn-danger m-2 text-white" onclick="submitForm('${data._id}','decline', '${data.sender_id}', '${data.receiver_id}')">Decline</a> --}}
                </form>
                {{/each}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/inbox.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>