<!DOCTYPE html>
<html>

<head>
    <title>修改</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/input.css">
    <link rel="stylesheet" href="/styles/common.css">
</head>

<body class="h-100 my-bg">
    <!-- Navbar from bootstrap docs -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav-flow">
        <a href="index.html" class='nav-logo'><img class='nav-logo' src="/images/logo/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/input">录入</a>
                <a class="nav-item nav-link" href="/find">查询</a>
                <a class="nav-item nav-link" href="/stats">统计</a>
                <!-- <a class="nav-item nav-link" href="/invitation">Invitation</a> -->
               
            </div>
            <a class="nav-item nav-link" id='logout' href="/users/logout">登出</a>
        </div>
    </nav>

    <!-- <div class="vertical-center pt-5">
        <div class="h-100 row align-items-center justify-content-center">
            <div id="content" class="text-center shadow-lg p-5 mb-5 bg-white rounded col-lg-10"> -->

                <div class="update-container">
                    <form id="contact">
                        <h3>客户信息表</h3>
                        <h4>请更改客户信息</h4>
                        <fieldset>
                            
                            <label>会员卡号：</label>
                                <input id='vip' placeholder="会员卡号" type="text" tabindex="1" readonly value={{c.vip}}>
                            </fieldset>
                        <fieldset>
                            <label>姓名：</label>
                            <input id='name' placeholder="姓名" type="text" tabindex="1" required value={{c.name}}>
                        </fieldset>
                        <fieldset>
                                性别：
                                <select id="sex">
                                    {{#if isMale}}
                                       <option value="男" selected>男</option>
                                        <option value="女">女</option>
                                    {{else}}
                                        <option value="男">男</option>
                                        <option value="女" selected>女</option>
                                    {{/if}}
                                  </select>
                            </fieldset>
                        <fieldset>
                            <label>联系电话：</label>
                            <input id='phone' placeholder="联系电话" type="tel" tabindex="2" value={{c.contact}} required>
                        </fieldset>
                        
                        
                        <fieldset>
                            <label>年龄：</label>
                            <input placeholder="年龄" id='age' type="text" tabindex="4" value={{c.age}}>
                        </fieldset>
                        <fieldset>
                            <label>备注：</label>
                            <textarea id='comment' placeholder="备注" tabindex="5">{{c.comment}}</textarea>
                        </fieldset>
                        <fieldset>
                            <button class='bg-warning' name="submit" type="submit" id="info-submit"
                                data-submit="...Sending"><span class='text-light'><b>更改</b></span></button>
                        </fieldset>
                    </form>
                </div>


    <!--load scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="/scripts/update.js"></script>
</body>

</html>